<div class="related-row d-flex flex-row align-items-center mb-1">
    <img src="{{related_artist_image}}" style="width: 44px;" alt="">
    <span class=" ml-2 artist"> {{related_artist_name}}</span>
</div>