<div class="row search my-5 p-5 no-gutters">
    <div class="col-12">
        <form role="form" id="find-song">
            <div class="input-group mt-2">
                <h3>Let's start by choosing a song!</h3>
                <input type="text" id="song-query" class="col-10" placeholder="Enter song choice">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">SEARCH SONGS</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 no-gutters">
        <h4 class="pb-2" style="display:none;">Song results:</h4>
    </div>
    <!-- song suggestions will go here -->
    <div class="card-deck mb-5" id="song-index"></div>
</div>